@use '../abstracts/variables-spacing' as *;
@use '../abstracts/mixins' as *;

body {
  font-size: $font-size-base;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
}

p  { font-size: $font-size-base; line-height: 1.5; }  // 16px

.text-sm  { font-size: $font-size-sm; line-height: 1.5; }   // 14px
.text-xs  { font-size: $font-size-xs; line-height: 1.5; }   // 12px