// --- Espacios ---
$spacing-mobile: rem(40);
$spacing-desktop: rem(72);

$padding-top-mobile: rem(56);
$padding-bottom-mobile: rem(56);
$padding-top-desktop: rem(72);
$padding-bottom-desktop: rem(72);

// --- Container ---
$container-mobile: rem(390);
$container-table-sm: rem(744);
$container-table-lg: rem(1023);
$container-desktop: rem(1440);

// --- Tipografia ---
$font-size-xs: rem(12);
$font-size-sm: rem(14);
$font-size-base: rem(16);
$font-size-md: rem(18);
$font-size-lg: rem(22);
$font-size-xl: rem(24);
$font-size-xxl: rem(34);