@use './variables-global' as *;

// --- Semantic: color/background ---
$color-background-white-high-alpha: $color-brand-basic-000-white-high-alpha;
$color-background-default: $color-brand-basic-000-white;
$color-background-white-hover: $color-brand-basic-050;
$color-background-light-default: $color-brand-basic-050;
$color-background-light-hover: $color-brand-basic-100;
$color-background-medium-light-default: $color-brand-basic-100;
$color-background-medium-light-hover: $color-brand-basic-200;
$color-background-medium-dark-default: $color-brand-basic-300;
$color-background-medium-dark-hover: $color-brand-basic-400;
$color-background-dark-default: $color-brand-basic-000-white;
$color-background-dark-hover: $color-brand-basic-000-white;
$color-background-black-default: $color-brand-basic-000-white;
$color-background-black-hover: $color-brand-basic-000-white;
$color-background-primary-low-alpha: $color-brand-primary-low-alpha;
$color-background-primary-light-default: $color-brand-primary-050;
$color-background-primary-light-hover: $color-brand-primary-100;
$color-background-primary-medium-default: $color-brand-basic-000-white;
$color-background-primary-medium-hover: $color-brand-basic-000-white;
$color-background-primary-dark-default: $color-brand-primary-700;
$color-background-primary-dark-hover: $color-brand-primary-800;
$color-background-primary-light-disabled: $color-brand-basic-000-white;
$color-background-primary-medium-disabled: $color-brand-basic-000-white;
$color-background-primary-dark-disabled: $color-brand-basic-400;
$color-background-secondary-light-default: $color-brand-secondary-050;
$color-background-secondary-light-hover: $color-brand-secondary-100;
$color-background-secondary-medium-light-default: $color-brand-secondary-200;
$color-background-secondary-medium-light-hover: $color-brand-secondary-300;
$color-background-secondary-medium-default: $color-brand-secondary-400;
$color-background-secondary-medium-hover: $color-brand-secondary-500;
$color-background-secondary-dark-default: $color-brand-basic-000-white;
$color-background-secondary-dark-hover: $color-brand-basic-000-white;
$color-background-secondary-light-disabled: $color-brand-basic-000-white;
$color-background-secondary-medium-disabled: $color-brand-basic-500;
$color-background-secondary-dark-disabled: $color-brand-basic-000-white;
$color-background-input-disabled: $color-brand-basic-100;
$color-background-basic-medium-alpha: $color-brand-basic-medium-alpha;

// --- Semantic: color/foreground ---
$color-foreground-white-default: $color-brand-basic-000-white;
$color-foreground-white-hover: $color-brand-basic-000-white;
$color-foreground-on-white-default: $color-brand-basic-800;
$color-foreground-on-white-hover: $color-brand-basic-900;
$color-foreground-light-default: $color-brand-basic-050;
$color-foreground-light-hover: $color-brand-basic-100;
$color-foreground-on-light-default: $color-brand-basic-800;
$color-foreground-on-light-hover: $color-brand-basic-900;
$color-foreground-medium-light-default: $color-brand-basic-500;
$color-foreground-medium-light-hover: $color-brand-basic-900;
$color-foreground-medium-dark-default: $color-brand-basic-700;
$color-foreground-medium-dark-hover: $color-brand-basic-800;
$color-foreground-on-medium-default: $color-brand-basic-800;
$color-foreground-on-medium-hover: $color-brand-basic-900;
$color-foreground-dark-default: $color-brand-basic-700;
$color-foreground-dark-hover: $color-brand-basic-800;
$color-foreground-on-dark-default: $color-brand-basic-000-white;
$color-foreground-on-dark-hover: $color-brand-basic-000-white;
$color-foreground-black-default: $color-brand-basic-800;
$color-foreground-black-hover: $color-brand-basic-900;
$color-foreground-on-black-default: $color-brand-basic-000-white;
$color-foreground-on-black-hover: $color-brand-basic-000-white;
$color-foreground-primary-light-default: $color-brand-basic-000-white;
$color-foreground-primary-light-hover: $color-brand-basic-000-white;
$color-foreground-primary-medium-default: $color-brand-basic-000-white;
$color-foreground-primary-medium-hover: $color-brand-basic-000-white;
$color-foreground-primary-dark-default: $color-brand-primary-700;
$color-foreground-primary-dark-hover: $color-brand-primary-800;
$color-foreground-on-primary-light-default: $color-brand-basic-000-white;
$color-foreground-on-primary-light-hover: $color-brand-basic-000-white;
$color-foreground-on-primary-medium-default: $color-brand-basic-000-white;
$color-foreground-on-primary-medium-hover: $color-brand-basic-000-white;
$color-foreground-on-primary-dark-default: $color-brand-basic-000-white;
$color-foreground-on-primary-dark-hover: $color-brand-basic-050;
$color-foreground-on-primary-dark-disabled: $color-brand-basic-600;
$color-foreground-secondary-light-default: $color-brand-basic-000-white;
$color-foreground-secondary-light-hover: $color-brand-basic-000-white;
$color-foreground-secondary-medium-default: $color-brand-secondary-400;
$color-foreground-secondary-medium-hover: $color-brand-secondary-500;
$color-foreground-secondary-dark-default: $color-brand-secondary-600;
$color-foreground-secondary-dark-hover: $color-brand-secondary-700;
$color-foreground-on-secondary-light-default: $color-brand-basic-000-white;
$color-foreground-on-secondary-light-hover: $color-brand-basic-000-white;
$color-foreground-on-secondary-medium-default: $color-brand-secondary-800;
$color-foreground-on-secondary-medium-hover: $color-brand-secondary-900;
$color-foreground-on-secondary-dark-default: $color-brand-basic-000-white;
$color-foreground-on-secondary-dark-hover: $color-brand-basic-000-white;
$color-foreground-on-secondary-medium-disabled: $color-brand-basic-700;
$color-foreground-text-on-light-default: $color-foreground-on-light-default;
$color-foreground-text-on-light-hover: $color-foreground-on-light-hover;
$color-foreground-text-on-dark-default: $color-foreground-on-dark-default;
$color-foreground-text-on-dark-hover: $color-foreground-on-dark-hover;
$color-foreground-text-light-disabled: $color-brand-basic-400;
$color-foreground-text-dark-disabled: $color-brand-basic-500;
$color-foreground-input-light-disabled: $color-foreground-text-light-disabled;
$color-foreground-input-dark-disabled: $color-foreground-text-dark-disabled;
$color-foreground-link-default: $color-foreground-primary-dark-default;
$color-foreground-link-hover: $color-foreground-primary-dark-hover;
$color-foreground-title-default: $color-foreground-primary-dark-default;

// --- Semantic: color/border ---
$color-border-white-default: $color-brand-basic-000-white;
$color-border-white-hover: $color-brand-basic-050;
$color-border-light-default: $color-brand-basic-050;
$color-border-light-hover: $color-brand-basic-100;
$color-border-medium-default: $color-brand-basic-100;
$color-border-medium-hover: $color-brand-basic-200;
$color-border-dark-default: $color-brand-basic-300;
$color-border-dark-hover: $color-brand-basic-400;
$color-border-black-default: $color-brand-basic-000-white;
$color-border-black-hover: $color-brand-basic-000-white;
$color-border-primary-light-default: $color-brand-basic-000-white;
$color-border-primary-light-hover: $color-brand-basic-000-white;
$color-border-primary-medium-default: $color-brand-basic-000-white;
$color-border-primary-medium-hover: $color-brand-basic-000-white;
$color-border-primary-dark-default: $color-brand-primary-700;
$color-border-primary-dark-hover: $color-brand-primary-800;
$color-border-primary-dark-disabled: $color-brand-basic-500;
$color-border-secondary-light-default: $color-brand-basic-000-white;
$color-border-secondary-light-hover: $color-brand-basic-000-white;
$color-border-secondary-medium-default: $color-brand-secondary-400;
$color-border-secondary-medium-hover: $color-brand-secondary-500;
$color-border-secondary-dark-default: $color-brand-basic-000-white;
$color-border-secondary-dark-hover: $color-brand-basic-000-white;
$color-border-input-disabled: $color-border-primary-dark-disabled;

// --- Semantic: color/icon ---
$color-icon-white-default: $color-brand-basic-000-white;
$color-icon-white-hover: $color-brand-basic-000-white;
$color-icon-light-default: $color-brand-basic-000-white;
$color-icon-light-hover: $color-brand-basic-000-white;
$color-icon-medium-default: $color-brand-basic-000-white;
$color-icon-medium-hover: $color-brand-basic-000-white;
$color-icon-dark-default: $color-brand-basic-000-white;
$color-icon-dark-hover: $color-brand-basic-000-white;
$color-icon-black-default: $color-brand-basic-800;
$color-icon-black-hover: $color-brand-basic-900;
$color-icon-primary-light-default: $color-brand-basic-000-white;
$color-icon-primary-light-hover: $color-brand-basic-000-white;
$color-icon-primary-medium-default: $color-brand-basic-000-white;
$color-icon-primary-medium-hover: $color-brand-basic-000-white;
$color-icon-primary-dark-default: $color-foreground-primary-dark-default;
$color-icon-primary-dark-hover: $color-foreground-primary-dark-hover;
$color-icon-secondary-light-default: $color-brand-basic-000-white;
$color-icon-secondary-light-hover: $color-brand-basic-000-white;
$color-icon-secondary-medium-default: $color-foreground-secondary-medium-default;
$color-icon-secondary-medium-hover: $color-background-secondary-medium-hover;
$color-icon-secondary-dark-default: $color-foreground-secondary-dark-default;
$color-icon-secondary-dark-hover: $color-foreground-secondary-dark-hover;
$color-icon-disabled: $color-foreground-text-dark-disabled;

// --- Semantic: color/divisor ---
$color-divisor-light: $color-brand-basic-100;
$color-divisor-medium: $color-brand-basic-400;