@use '../../../../styles/abstracts/mixins' as *;
@use '../../../../styles/abstracts/variables-spacing' as *;
@use '../../../../styles/abstracts/variables-components' as *;

.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: rem(4) rem(12);
    border-radius: rem(40);
    font-size: $font-size-xs; //12px
    line-height: rem(16);
    font-weight: 800;

    &--primary {
        background-color: $tag-primary-background;
        color: $tag-primary-text;
    }

    &--secondary {
        background-color: $tag-secondary-background;
        color: $tag-secondary-text;
    }
}