@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/variables-spacing' as *;
@use '../../../styles/abstracts/variables-components' as *;

.filters {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(16) rem(24);
        border-bottom: 1px solid $filters-divisor;

        @include respond-to('desktop') {
            justify-content: center;
        }
    }

    &__title {
        font-size: $font-size-md;
        font-weight: 700;
        color: $filters-section-title-default;
    }

    &__close {
        display: flex;

        @include respond-to('desktop') {
            display: none;
        }
    }

    &__sections {
        display: flex;
        flex-direction: column;
        padding: rem(12) rem(24) rem(32);
    }

    &__section {        

        &--open {
            .filters__section-title {
                color: $filters-filter-name-text-open;
            }
            .filters__section-icon {
                color: $filters-icon-open;
            }
        }
    }

    &__section-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(16) 0;
        cursor: pointer;
    }

    &__section-title-wrapper {
        display: flex;
        align-items: center;
        gap: rem(8);
    }

    &__section-icon {
        color: $filters-icon-default;
        width: rem(24);
        height: rem(24);
    }

    &__section-open &__section-icon {
        color: $filters-icon-open;
    }

    &__section-title {
        font-size: $font-size-base;
        font-weight: 600;
        color: $filters-filter-name-text-default;
        transition: color 0.2s ease;
    }

    &__section-chevron {
        width: rem(24);
        height: rem(24);
        color: $filters-chevron-default;
        transition: transform 0.2s ease, color 0.2s ease;

        &--open {
            transform: rotate(90deg);
            color: $filters-chevron-open;
        }
    }

    &__options {
        display: flex;
        flex-direction: column;
        gap: rem(16);
        padding: rem(16);
    }

    // Inputs precio
    &__price {
        display: flex;
        flex-direction: column;
        gap: rem(16);
        padding: rem(8) 0 0;
    }

    &__price-input-wrapper {
        display: flex;
        align-items: center;
        gap: rem(8);
        border: 1px solid $form-text-input-border-default;
        border-radius: rem(208);
        padding: rem(12) rem(16);
        background-color: $form-text-input-background-default;
    }

    &__price-icon {
        width: rem(32);
        height: rem(32);
        flex-shrink: 0;
    }

    &__price-input {
        border: none;
        background: none;
        font-size: $font-size-base;
        color: $form-text-input-text-default;
        width: 100%;

        &::placeholder {
            color: $form-text-input-placeholder-default;
        }

        &:focus {
            outline: none;
        }
    }
}